# Ambientes Virtuais
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Dados 
data/
*.csv
*.xlsx
models/*.h5
models/*.pt
coadread_tcga_pan_can_atlas_2018/
dados/
manifesto/